body {
    background-image: url("assets/backgrounddesert.png"), url("assets/backgroundplanet.png"), url("assets/backgroundsun.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom, bottom, top;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.menu {
    font-size: 1.1em;
    background: whitesmoke;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 1.5px 1px 0 0 blueviolet;
}

main {
    display: flex;
    color: whitesmoke;
}

h1 {
    padding: 0.9em;
    font-size: medium;
    background-color: rgba(0,0,0,0.25);
    border-radius: 25px;
}

/* page-container created to keep avatar fixed at bottom of viewport */
#page-container {
    position: relative;
    min-height: 100vh;
}

footer {
    color: whitesmoke;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
    z-index: -1;
    text-align: right;
}

p {
    margin-right: 5px;
    margin-top: 4px;
    font-size: small;
}

.fix {
    position: fixed;
    bottom: 0px;
    left: 6px;
    max-height: 235px;
}

.fixed {
    position: fixed;
    bottom: 30px;
    left: 125px;
    max-height: 134px;
}

.talkingtext {
    position: fixed;
    bottom: 40px;
    left: 180px;
    right: 13px;
    font-family: 'Press Start 2P', monospace;  
}