body {
    background-image: url("assets/backgrounddesert.png"), url("assets/backgroundplanet.png"), url("assets/backgroundsun.png");
    background-repeat: no-repeat;
    background-size:auto;
}

header {
    display: flex;
    justify-content: center;
}

.menu {
    font-size: 1.1em;
    background: whitesmoke;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 1.5px 1px 0 0 blueviolet;
}

main {
    display: flex;
    color: whitesmoke;
}

h1 {
    padding: 0.9em;
    font-size: medium;
    background-color: rgba(0,0,0,0.25);
    border-radius: 25px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

footer {
    color: green;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.fix {
    position: fixed;
    bottom: 0px;
    max-height: 190px;
}